$primaryColor: #4B4B4B; //文字主色
$secondaryColor: #939393; //文字次色
$bgColor:#fff; //背景色
$borderColor:#ccc; //边框色
$primarySize: 32rpx; //主要文字大小
$secondarySize: 24rpx; //次要文字大小
$gap: 20rpx; //边距
$imgLg: 230rpx; //大图
$imgSm: 64rpx; //头像小图

page {
  background-color: #ededed;
}